@import "tailwindcss";

/* Set default font */
body {
  font-family: 'Poppins', sans-serif;
}

/* Default browser scrollbar color */
:root {
  scrollbar-width: thin;
  scrollbar-color: #0a2540 transparent; /* deep blue thumb, transparent track */
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #0a2540; /* deep blue thumb */
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #06b6d4; /* cyan hover */
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}